PORT=3000
MONGODB_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
GROQ_API_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
CORS_ORIGINS=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
